/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333333;
}

h1,
h2 {
    color: #3a3a3a;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #e74c3c;
}

ul {
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

pre {
    background-color: #e8f8f5;
    padding: 15px 30px 15px 40px;
    border-style: dashed;
    border-radius: 10px 100px / 120px;
    border-width: 3px;
    border-color: #565656;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif, monospace;
    color: #2c3e50;
    white-space: pre-wrap;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}
